.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   /* align-content: space-between; */
    min-height: 100vh;
    align-content: space-between;
}
.header {
    background: rgb(240,100,73);
    background: linear-gradient(to bottom, rgb(169,3,41) 0%,rgb(143,2,34) 100%,rgb(109,0,25) 100%);
    flex-basis: 100%;
    order: 1;
    height: 50px;

}
.main {
    background: -webkit-linear-gradient(top, rgb(252, 255, 244) 0%, rgb(223, 229, 215) 0%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(252, 255, 244) 0%, rgb(223, 229, 215) 0%);
   /* flex-grow: 4;
    flex-basis: 1px; */
    flex: 4 1 1px ;
    order: 3;

}
.aside {
flex-grow: 1;
    /* align-self: stretch; */

}
.aside-1 {
    background: -webkit-linear-gradient(top, rgb(226,226,226) 0%,rgb(209,209,209) 100%,rgb(254,254,254) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(226,226,226) 0%,rgb(209,209,209) 100%,rgb(254,254,254) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
order: 2;
}
.aside-2 {
    background: -webkit-linear-gradient(top, rgb(195, 217, 255) 0%, rgb(177, 200, 239) 100%, rgb(152, 176, 217) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(195, 217, 255) 0%, rgb(177, 200, 239) 100%, rgb(152, 176, 217) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    order: 4;
}
.footer {
    background: -webkit-linear-gradient(top, rgb(234,185,45) 0%,rgb(199,152,16) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(234,185,45) 0%,rgb(199,152,16) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    flex-basis: 100%;
    order: 5;
    height: 50px;
    align-self: ;
}
